In [3]:
import numpy as np
import pandas as pd

In [4]:
!pip install xlrd

Requirement already satisfied: xlrd in e:\programdata\anaconda3\lib\site-packages (1.2.0)

In [5]:
df = pd.read_excel('canada.xlsx', sheet_name = 'Canada by Citizenship', skiprows=range(20), skipfooter=2)

In [6]:
df.head()

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,...,1450,1223,856,702,560,716,561,539,620,603
2,Immigrants,Foreigners,Algeria,903,Africa,912,Northern Africa,902,Developing regions,80,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,Immigrants,Foreigners,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
4,Immigrants,Foreigners,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,0,0,1,1,0,0,0,0,1,1

In [7]:
filtered_data = df[df.AreaName == 'Asia']

In [8]:
filtered_data.head()

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
8,Immigrants,Foreigners,Armenia,935,Asia,922,Western Asia,902,Developing regions,0,...,147,224,218,198,205,267,252,236,258,207
11,Immigrants,Foreigners,Azerbaijan,935,Asia,922,Western Asia,902,Developing regions,0,...,230,359,236,203,125,165,209,138,161,57
13,Immigrants,Foreigners,Bahrain,935,Asia,922,Western Asia,902,Developing regions,0,...,12,12,12,22,9,35,28,21,39,32
14,Immigrants,Foreigners,Bangladesh,935,Asia,5501,Southern Asia,902,Developing regions,83,...,2660,4171,4014,2897,2939,2104,4721,2694,2640,3789

### Adding a Row and Column, and make a total columnwise and Row Wise

In [9]:
years = list(map(int,range(1980,2014)))

In [11]:
df[years]

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,16,39,39,47,71,340,496,741,828,1076,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,1,0,0,0,0,0,1,2,2,3,...,1450,1223,856,702,560,716,561,539,620,603
2,80,67,71,69,63,44,69,132,242,434,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,0,1,0,0,0,0,0,1,0,1,...,0,0,1,0,0,0,0,0,0,0
4,0,0,0,0,0,0,2,0,0,0,...,0,0,1,1,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,1191,1829,2162,3404,7583,5907,2741,1406,1411,3004,...,1816,1852,3153,2574,1784,2171,1942,1723,1731,2112
191,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
192,1,2,1,6,0,18,7,12,7,18,...,124,161,140,122,133,128,211,160,174,217
193,11,17,11,7,16,9,15,23,44,68,...,56,91,77,71,64,60,102,69,46,59
194,72,114,102,44,32,29,43,68,99,187,...,1450,615,454,663,611,508,494,434,437,407

In [ ]:
df['Total'] = df[years].sum(axis = 1, skipna = True)

In [ ]:
df.loc['Coulumn_Total',:] = df[years].sum(axis=0, skipna = True)

In [ ]:
df = df.fillna('')

In [ ]:
df.tail()

In [ ]:
filterd_data1 = df[df.Total > 3000]

In [ ]:
filterd_data2 = df[(df.Total > 3000)&(df.AreaName == 'Asia')]

In [ ]:
filterd_data1.tail()

In [ ]:
filterd_data2.head()

In [ ]:
df[years].apply(np.mean)

In [ ]:
df[years].apply(np.mean, axis=1)

In [ ]:
df[years].apply(lambda x:x.max()-x.min())

In [ ]:
def predicted_immigrants(x):
    immigrants_2014 = x * 1.12
    return immigrants_2014

df['predicted_immigrants'] = df[2013].apply(predicted_immigrants)

In [ ]:
df.head()

### Count the total number of NaNs present: (Column wise & All)

In [ ]:
df.isnull().sum()

In [ ]:
df.isnull().sum().sum()

In [ ]:
df.2006 = df.2006.fillna("xxx")